@media only screen and (max-width:700px){
    .dato-mobile-sucursal{
        border: 1px solid black;
        margin-bottom: 1rem;
        border-radius: 0.6rem;
        background-color: bisque;
    }

    .repartidor-codigo h3{
        padding: 1rem;
        border-radius: 0.8rem;
        border: 2px solid black;
        width: 30vh;
        margin: auto;
        background-color: orange;
    }
    .repartidor-vermas{
        margin: auto;
        border: 2px solid black;
        padding: 1rem;
        border-radius: 0.8rem;
        background-color: #5f8d2b;
    }
}